{% extends '@AppAdmin/layout.html.twig' %}
{% block html %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Zaloguj sie</h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('app_user_admin_login_check') }}" method="post" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" id="username" name="_username"
                                           value="{{ last_username }}" placeholder="Nazwa uzytkownika" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Haslo" name="_password" type="password"
                                           value="">
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <button type="submit" class="btn btn-lg btn-success btn-block">Zaloguj sie</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
