{% extends '@AppFront/layout.html.twig' %}

{% block content %}
    <section id="text-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <header>
                        <h1 class="em-font-type text-center"><strong>404 Page not found.</strong></h1>
                    </header>
                    <p style="margin: 100px 0; font-size: 27px;">
                        {{ "The requested page couldn't be located. Checkout for any URL misspelling or"|trans }}
                        <a href="{{ path('app_front_page') }}">{{ 'return to the homepage'|trans }}</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}