/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/web/bower_components
/bower_components
/startbootstrap-sb-admin-2-gh-pages
/templates
/web/assets/
/web/bundles/
/web/css
/web/js/
/web/tmp/*
!/web/tmp
!/web/tmp/.gitkeep
/web/images/
/web/media/*
!/web/media
/web/fonts/
/web/uploads/
/.idea
/vendor
/npm-debug.log
/node_modules
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.netbeans.xml
/nbproject
