<div class="row buttonsGroup">
    <div class="col-md-12">
        <div role="group" class="btn-group pull-left">
            <a class="btn btn-primary"
               href="{{ path('banners_index') }}"><i
                        class="fa fa-arrow-left"></i> {{ 'Back'|trans }}</a>
        </div>
    </div>
</div>

