<div class="row buttonsGroup">
    <div class="col-md-12">
        <div role="group" class="btn-group pull-left">
            <a class="btn btn-success"
               href="{{ path('category_new', {type: app.request.get('type')} ) }}"><i
                        class="fa fa-plus-square-o"></i> {{ 'Create category'|trans }}</a>
        </div>
    </div>
</div>

