<h4>Witaj {{ user.firstname ~ ' ' ~ user.lastname }}</h4>
<p>Twoje konto w naszym systemie zostalo utworzone, twoje dane do logowania:
<ul>
    <li>Login: {{ user.username }}</li>
    <li>Haslo: {{ password }}</li>
</ul>
<br/>
<br/>
Pozdrawiamy,
VIN checker
</p>




